In [1]:
!pip install konlpy
from tqdm import tqdm

Collecting konlpy
  Downloading konlpy-0.6.0-py2.py3-none-any.whl (19.4 MB)
Collecting JPype1>=0.7.0
  Downloading JPype1-1.4.0-cp39-cp39-win_amd64.whl (344 kB)
Requirement already satisfied: lxml>=4.1.0 in c:\users\alaco\anaconda3\lib\site-packages (from konlpy) (4.6.3)
Requirement already satisfied: numpy>=1.6 in c:\users\alaco\anaconda3\lib\site-packages (from konlpy) (1.20.3)
Installing collected packages: JPype1, konlpy
Successfully installed JPype1-1.4.0 konlpy-0.6.0

In [2]:
import pandas as pd
import numpy as np
import re
df1= pd.read_csv('navermovie12.csv')

In [3]:
import warnings
warnings.filterwarnings(action='ignore')
from konlpy.tag import Okt

In [4]:
def preprocessing(review,okt,remove_stopwords=False,stop_words=[]):
    review_text= re.sub('[^가-힣ㄱ-ㅎㅏ-ㅣ\\s]',"",review)

    word_review=okt.morphs(review,stem=True)
  
    if remove_stopwords:
        word_review=[token for token in word_review if not token in stop_words]
    return word_review

In [5]:
stop_words=['은','는','이','가','하','아','것','들','의','있','되','수','보','주','등','한','를','에','로','을','(',')',',','와','에는','으로','고',
            '또한', '그리고','뿐만', '아니라', '설사','비록' ,'더라도', '아니면', '만', '그러','속',  '데', '자신', '안', '어떤', '내', '경우', '명','다시' ,'이런' ,'원', '잘', '통하' ,'놓','.' ]
okt=Okt()
clean_train_review=[]

for i in tqdm(range(9999)):
    x_data= df1['1'][i]
    if type(x_data) == str:
        clean_train_review.append(preprocessing(x_data,okt,remove_stopwords=True,stop_words=stop_words))
    else:
        clean_train_review.append([])

100%|██████████| 9999/9999 [03:11<00:00, 52.19it/s]

In [6]:
movie_token= zip(df1['0'],clean_train_review)

In [7]:
movie12= pd.DataFrame(movie_token)
movie12

                         0                                                  1
0                   시네마 천국  [힐, 밸리, Hill, Valley, 살다, 주인공, 마티, 맥플라이, Marty...
1                 빽 투 더 퓨쳐  [브라운, 박사, Dr, Emmett, ', Doc, ', L, Brown, :, ...
2               빽 투 더 퓨쳐 2  [1955년, 남겨지다, 마티, 박사, 1885년, 가다, 음, 알, 게, 되다, ...
3               빽 투 더 퓨쳐 3  [{, 아주, 멀다, 옛날, 은하계, 저편, ...(, A, long, time, ...
4     스타워즈 에피소드 4 - 새로운 희망  [{, 아주, 멀다, 옛날, 은하계, 저편, ...(, A, long, time, ...
...                    ...                                                ...
9994                   껄떡쇠  [임, 영의정, 윤대감, 아들, 득, 나이, 12, 살이, 나, 신동, 이라고, 소...
9995               꼬마 암행어사  [임진왜란, 직후, 동래부, 사, 박성, 달, 정국, 혼란, 틈, 타다, 왜적, 첩...
9996                 꼬마 검객  [훈, 이란, 꼬마, 엄마, 품, 에서는, 투정, 부리다, 어리다, 그래도, 사장,...
9997            꼬마 사장과 여비서  [꽃봉, 서, 판서, 외아들, 인, 꼬마, 신랑, 득, 에게, 시집, 간다, 서, ...
9998                 꼬마 신랑                                            [False]

[9999 rows x 2 columns]

In [8]:
movie12.to_csv('sieun_mv12.csv',index=False)