In [1]:
import pandas as pd
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
model = SentenceTransformer('jhgan/ko-sroberta-multitask')

In [3]:
df = pd.read_csv('sieun_mv24.csv')

In [4]:
df= df.drop(index = df[df['1'] == "['False']"].index)
df

                    0                                                  1
0             꼬마 신랑 2  ['꼬마', '신랑', '아버지', '서', '판서', '어명', '받다', '국보...
1            꼬마 신랑의 한  ['나그네', '변장', '어사', '김상원', '유령', '나타나다', '마을',...
2               꼬마 아씨  ['나이', '오십', '아들', '보다', '참판', '내외', '손주', '일찍...
3               꼭지 꼭지  ['꼭지', '만년', '계장', '하다', '아버지', '어머니', '오빠', '...
4                 꽃가마  ['이조', '중엽', '연산군', '성', '차다', '봉', '손녀', '취당'...
...               ...                                                ...
19984          잔 다라 2  ['경찰', '출신', '잘나가다', '태프', '집안', '겉', '으론', '화...
19986         아름다운 날들  ['엄마', '단둘', '살다', '정은', '어느', '일요일', '놀이', '공...
19987             턱수염  ['하다', '여학생', '그림자', '놀이', '꿈', '인지', '기억', '인...
19996  세인트 앤 솔저 더 비기닝  ['2', '차', '대전', '중', '프랑스', '아르덴', '지역', '배경'...
19997       산타클로스의 암살  ['동화', '로맨스', '멜로드라마', '서스펜스', '스릴러', '스타', '일...

[15616 rows x 2 columns]

In [6]:
#영화줄거리내용 인코딩
df['embedding']=pd.Series([[]]*len(df))
df['embedding']= df['1'].map(lambda x: list(model.encode(x)))
df.head()

,0,1,embedding
0,꼬마 신랑 2,"['꼬마', '신랑', '아버지', '서', '판서', '어명', '받다', '국보...","[0.091662936, -0.12053923, 0.1743379, -0.71220..."
1,꼬마 신랑의 한,"['나그네', '변장', '어사', '김상원', '유령', '나타나다', '마을',...","[0.15889968, -0.4938616, -0.009015381, -0.5088..."
2,꼬마 아씨,"['나이', '오십', '아들', '보다', '참판', '내외', '손주', '일찍...","[0.02558138, -0.424004, -0.38803142, -0.304510..."
3,꼭지 꼭지,"['꼭지', '만년', '계장', '하다', '아버지', '어머니', '오빠', '...","[0.066882834, -0.08833784, -0.402084, -0.45835..."
4,꽃가마,"['이조', '중엽', '연산군', '성', '차다', '봉', '손녀', '취당'...","[0.28374198, -0.5704211, -0.12010878, -0.48506..."

In [7]:
#embedding 값을 포함하여 새로운 csv로 저장

df.to_csv('mv24embedding.csv')